@model WSG.UI.Areas.AviaTickets.Models.InvoiceModel
@{
    ViewBag.Title = "Invoice";

    IEnumerable<WSG.UI.Areas.AviaTickets.Models.AviaInvoiceViewModel> invoices = Model.Invoices;
    IEnumerable<WSG.UI.Areas.AviaTickets.Models.AviaInvoiceFlightViewModel> flight = Model.InvoiceFlight;
}

@* Main form of invoice *@

<h2 class="title_small title_main_page_margin">Накладна авіаційних квитків</h2>

<div class="row">
    <!-------------------------------------------------- INVOICE MAIN - MENU BAR ------------------------------------------------------>
    <div class="container col-md-12 menu_no_padding">
        <div class="col-md-10">
            <div class="pull-left button_right_margin" data-toggle="modal" data-target="#myInvoiceModal">
                <button type="button" class="btn btn-default my_button_style bold" id="createNewInvoice">
                    <span class="fa fa-plus-circle"></span>
                    Створити
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Скопіювати">
                    <span class="fa fa-clone"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Змінити" id="invoiceEdit">
                    <span class="fa fa-pencil"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Оновити" id="invoiceUpdate">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Записати" id="invoiceSave">
                    <span class="fa fa-floppy-o"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Відмінити для вилучення/Зняти позначку">
                    <span class="fa fa-times"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Встановити період...">
                    <span class="fa fa-exchange"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style">
                    <span class="fa fa-search"></span>
                    Знайти
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Відмінити пошук">
                    <span class="fa fa-search-minus"></span>
                </button>
            </div>

            <div class="btn-group pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">
                    Друк
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu my_dropdown_styles small_list" role="menu">
                    <li><a href="#" onclick="getDocument()" data-toggle="modal" data-target="#printModal">Друк акта</a></li>
                    <li><a href="#">Друк накладної</a></li>
                    <li><a href="#">Друк рахунка</a></li>
                    <li><a href="#">Друк рахунка з печаткою</a></li>
                </ul>
            </div>

            <div class="btn-group pull-left button_right_margin">
                <button type="button" data-toggle="dropdown" class="btn btn-default my_button_style dropdown-toggle">
                    Підбір
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu my_dropdown_styles small_list" role="menu">
                    <li><a href="#">Some action</a></li>
                    <li><a href="#">Some action</a></li>
                </ul>
            </div>

        </div>

        <!-- DropDown ALL Actions -->

        <div class="col-md-2">
            @* DropDown Menu All *@

            <div class="pull-right button_left_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Довідка">
                    <span class="fa fa-question"></span>
                </button>
            </div>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">
                    Всі дії
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu my_dropdown_styles" role="menu">
                    <li>
                        <a href="#"><span class="fa fa-plus-circle"></span>Створити</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-clone"></span>Скопіювати</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-pencil"></span>Змінити</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-times"></span>Відмітити для вилучення / Зняти позначку</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-refresh"></span>Оновити</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-exchange"></span>Встановити період...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-arrow-circle-down"></span>Провести</a>
                    </li>
                    <li>
                        <a href="#" class="empty_icon"><span class="pull-right"></span>Знайти: Дата - 14.08.2018</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search"></span>Знайти...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search-minus"></span>Відмінити пошук</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-cog"></span>Настроїти список...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-upload"></span>Вивести список...</a>
                    </li>
                    <li>
                        <a href="#" class="empty_icon"><span class="pull-right fa fa-chevron-right"></span>Друк</a>
                    </li>
                    <li>
                        <a href="#" class="empty_icon"><span class="pull-right fa fa-chevron-right"></span>Підбір</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-sliders"></span>Змінити форму...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search"></span>Довідка</a>
                    </li>
                </ul>
            </div>

        </div><!-- DropDown ALL Actions end-->

    </div> <!--Containner MENU Buttons End-->

</div> <!--Row MENU Buttons End-->
<!-------------------------------------------------------------- INVOICE MAIN - MENU BAR END ----------------------------------------------------------->
<!-------------------------------------------------------------------- TABLE INVOICE ------------------------------------------------------------------->
<div class="row my_table_style">
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Номер</th>
                    <th>Повернення</th>
                    <th>Void</th>
                    <th>Опл.</th>
                    <th>Групове замовлення</th>
                    <th>Вид сервісу</th>
                    <th>Зміст</th>
                    <th>Постачальник</th>
                    <th>Постачальник такси</th>
                    <th>Сума</th>
                    <th>В т.ч.ПДВ</th>
                    <th>Код РМ</th>
                    <th>Коментар</th>
                    <th>Відповідальний</th>
                    <th>Валюта пропозиції</th>
                    <th>Підсумкова валюта</th>
                    <th>Обмін валют</th>
                    <th>Документ що повертається</th>
                    <th>Організація</th>
                    <th>Код бронювання</th>
                    <th>Без реалізації</th>
                    <th>Форма сплати</th>
                    <th>Оброблено</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in invoices)
                    {
                        <tr onclick="getInvoiceModal('@item.InvoiceId')" data-toggle="modal" data-target="#myInvoiceModal">
                            <td>@item.LastTransactionDate</td>
                            <td>@item.Number</td>
                            <td>Повернення</td>
                            <td>Void</td>
                            <td>@item.Paid</td>
                            <td>Групове замовлення</td>
                            <td>@item.ServiceType</td>
                            @{ 
                                string aviaDescription = $"Авiа квток №{@item.TicketNumber} для {@item.FullName} за маршрутом Дата город вылета(время вылета) - город прилета(время прилета)";
                            }
                            <td title="@aviaDescription">@aviaDescription</td>
                            <td>@item.Provider</td>
                            <td>@item.ProviderTax</td>
                            <td>@item.TotalSum</td>
                            <td>@item.TotalMPE</td>
                            <td>@item.PMCode</td>
                            <td>Коментар</td>
                            <td>@item.Curator</td>
                            <td>@item.CurrencyExchange</td>
                            <td>Підсумкова валюта</td>
                            <td>Обмін валют</td>
                            <td>Документ що повертається</td>
                            <td>Організація</td>
                            <td>@item.BookingCode</td>
                            <td>Без реалізації</td>
                            <td>Форма сплати</td>
                            <td>Оброблено</td>
                        </tr>
                    }
                }
            </tbody>
        </table>    
    </div>
</div>
<!-------------------------------------------------------------------- TABLE INVOICE END ---------------------------------------------------------------->
<!-------------------------------------------------------------------- INVOICE - POPUP ------------------------------------------------------------------>

<div id="myInvoiceModal" class="modal fade" role="dialog">
    @* This block contains modal body element *@

</div>

<div id="printModal" class="modal fade" role="dialog">
    
</div>


<script>
    function getInvoiceModal(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/AviaTickets/Invoice/InvoicePopUp?id=" + id, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                document.getElementById('myInvoiceModal').innerHTML = xhr.response;
                $('#tabs').tabs();
            }
        }
        xhr.send();
    }

    function getDocument(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/AviaTickets/Print/Print?id=" + id, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                document.getElementById('printModal').innerHTML = xhr.response;
                $('#tabs').tabs();
            }
        }
        xhr.send();
    }
</script>
